.container {
  display: grid;
  padding-right: 10%;
  width: auto;
  height: 100vh;
  background-image: url("https://images.wallpaperscraft.com/image/palm_trees_dawn_birds_125099_3840x2160.jpg");
  overflow: auto;
}

.list {
  margin: 0;
  padding-bottom: 8em;
  display: grid;
  row-gap: 1em;
}
